<?xml version="1.0" encoding="UTF-8"?>
<con:testSuite id="c534dd7b-ab04-428b-9ce0-2c8816a61687" name="TestSuite test" xmlns:con="http://eviware.com/soapui/config">
  <con:settings>
    <con:setting id="c534dd7b-ab04-428b-9ce0-2c8816a61687fileName">TestSuite-test</con:setting>
  </con:settings>
  <con:runType>SEQUENTIAL</con:runType>
  <con:properties/>
  <con:reportParameters/>
</con:testSuite>
